#!/bin/sh

# Telegram bot
export BOT_TOKEN="YOUR_TELEGRAM_BOT_TOKEN"
export BOT_USERNAME="YOUR_BOT_USERNAME"

# Google Cloud
export GCLOUD_PROJECT="YOUR_PROJECT_ID"
export STORAGE_BUCKET="YOUR_STORAGE_BUCKET"

# Photo feed API
export PORT="7314"

echo 'env vars setted';

